.task-content{
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    width: 400px;
    height: 500px
}

.task-content h3{
    color: white;
    text-align: center; 
    padding: 10px; 
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.task-container button{
    margin-left: 20px
}
.task-container{

}
#modal{
    width: 400px;
    height: fit-content;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
#modal input{
    width: 270px;
}
#modal form{
    display: flex;
    justify-content: space-between;
}

.show{
    display: block;
}
.hidden{
    display: none;
}