.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c44d3;
    color: white;
}
.nav ul, .nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    padding: 0;
}
.nav li, .nav p{
    list-style: none;
    color: white;
    margin: 2px 5px;
    font-size:  18px;
}
.none{
    color: white;
    text-decoration:  none;
}
.welcome{
    width: fit-content;
    margin: 20% auto;
}
.welcome h1{
    font-size: 67px;
}